.container-principal-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  /* background-color: aqua; */
  /* border: 1px solid rgb(255, 255, 255); */
}


@media(max-width:768px) {
  .container-principal-login {
    flex-direction: column;
    width: 100%;
  }

}
