<main>
  <div class="produtos-carrinho-espaço">
    <h1>Produtos no seu Carrinho</h1>
    <h2>Veja e gerencie os itens que você deseja comprar.</h2>

    <div class="botoes-principais">
      <button class="botao-carrinho">Continuar Comprando</button>
      <button class="botao-finalizar">Finalizar Compra</button>
    </div>
  </div>

  <section class="itens-selecionados">
    <h3>Itens Selecionados</h3>
    <button class="remover-todos">Remover Todos</button>

    <div class="item">
      <div class="item-img">
        <img src="assets/Bolos/bolo-chocolate-com-morango-2.png" alt="bolo-chocolate">
      </div>
      <p>Bolo de pote:</p>
      <span>Quantidade: 1</span>
    </div>

    <div class="item">
      <div class="item-img">
        <img src="/assets/KitFesta/kit-festa-3.png" alt="KitFesta">
      </div>
      <p>Decoração:</p>
      <span>Quantidade: 1</span>
    </div>
    

    <div class="item">
      <div class="item-img">
        <img src="/assets/Doces/doces-finos.png" alt="DocesFinos">
      </div>
      <p>Surpresa de uva:</p>
      <span>Quantidade: 2</span>
    </div>
  </section>

  <aside class="resumo-compra">
    <h3>Resumo da Compra</h3>

    <div class="resumo-box">
      <p>Subtotal</p>
      <span>R$ 50,00</span>
    </div>

    <div class="resumo-box">
      <p>Frete</p>
      <span>R$ 20,00</span>
    </div>

    <div class="resumo-box">
      <p>Total</p>
      <span>R$ 70,00</span>
    </div>

    <button class="aplicar-cupom">Aplicar Cupom</button>
    <button class="botao-finalizar">Finalizar Compra</button>
  </aside>
</main>