main {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.produtos-carrinho-espaço {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 30px;
}

.produtos-carrinho-espaço h1 {
  font-size: 32px;
  font-weight: 700;
  color: #D81B60;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.produtos-carrinho-espaço h2 {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin-top: 0;
  opacity: 0.9;
}

.botoes-principais {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 5px;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

button:active {
  transform: scale(0.95);
  opacity: 0.7;
}

.botao-carrinho {
  background: #fff;
  border: 2px solid #D81B60;
  color: #D81B60;
}

.botao-finalizar {
  background: #D81B60;
  border: 2px solid #D81B60;
  color: #fff;
}

.remover-todos,
.aplicar-cupom {
  background: white;
  border: 2px solid #D81B60;
  color: #D81B60;
}

.itens-selecionados .item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.item-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.resumo-compra {
  background: #fde5ee;
  padding: 20px;
  border-radius: 10px;
}

.resumo-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-cupom {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #D81B60;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
  background: white;
}

.input-cupom:focus {
  border-color: #a3144b;
  box-shadow: 0 0 4px #d81b6044;
}

.resumo-box input {
  margin-left: auto;
  margin-right: 0;
}


.mensagem-cupom {
  color: green;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}
