<main>
  <div class="produtos-carrinho-espaço">
    <h1>Produtos no seu Carrinho</h1>
    <h2>Veja e gerencie os itens que você deseja comprar.</h2>

    <div class="botoes-principais">
      <button class="botao-carrinho" (click)="continueShopping()">Continuar Comprando</button>
      <button class="botao-finalizar" (click)="finalizePurchase()">Finalizar Compra</button>
    </div>
  </div>

  <section class="itens-selecionados">
    <h3>Itens Selecionados</h3>
    <button class="remover-todos" (click)="clearCart()">Remover Todos</button>

    <div class="item" *ngFor="let item of cartItems; let i = index">
      <div class="item-img">
        <img [src]="item.image" [alt]="item.nomeProduto">
      </div>
      <p>{{ item.nomeProduto }}</p>
      <span>Preço: R$ {{ item.price }}</span>
      <button (click)="removeItem(i)">Remover</button>
    </div>
  </section>

  <aside class="resumo-compra">
    <h3>Resumo da Compra</h3>

    <div class="resumo-box">
      <p>Subtotal</p>
      <span>R$ {{ getTotal() }}</span>
    </div>

    <div class="resumo-box">
      <p>Frete</p>
      <span>R$ 20,00</span>
    </div>

    <!-- <div class="resumo-box">
      <p>Total</p>
      <span>R$ {{ getTotal() + 20 }}</span>
    </div> -->

    <!-- <button class="aplicar-cupom">Aplicar Cupom</button> -->

    <div class="resumo-box">
      <p>Cupom de Desconto</p>
      <input
        type="text"
        placeholder="Digite seu cupom"
        [(ngModel)]="cupomDigitado"
        class="input-cupom"
      >
    </div>

    <button class="aplicar-cupom"
      (click)="aplicarCupom()"
      [disabled]="!cupomDigitado || descontoAplicado > 0">
      Aplicar Cupom
    </button>

    <div *ngIf="descontoAplicado > 0" class="mensagem-cupom">
      Cupom "{{ cupomDigitado }}" aplicado! Você ganhou {{ descontoAplicado }}% de desconto.
    </div>

    <div class="resumo-box">
      <p>Total</p>
      <span>R$ {{ getTotalComDesconto() + 20 | number:'1.2-2' }}</span>
    </div>

    <button class="botao-finalizar" (click)="finalizePurchase()">Finalizar Compra</button>
  </aside>
</main>
