.container-form-pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 100%;
    gap: 10px;
    /* height: 100%; */
    height: auto;
    justify-content: center;
    background-color: #ffffff;
}

.container-title-pedido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 568px;
    height: 40px;
}

.title-pedido {
    /* width: 100%; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-primary);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    background: linear-gradient(90deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-close-modal {
    display: flex;
    max-width: 100%;
    width: 88px;
    height: 37px;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(180deg, #D9308D 50%, #73194B 100%);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    border: none;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.btn-close-modal:hover {
    transform: scale(1.05);
}

.container-title-cliente {
    display: flex;
    max-width: 100%;
    width: 568px;
    height: 40px;
    padding: 10px 8px;
    align-items: center;
    gap: 10px;
}

.title-cliente {
    display: flex;
    max-width: 100%;
    width: 137px;
    height: 32px;
    flex-direction: column;
    justify-content: center;

    font-family: var(--font-secondary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(90deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container-inputs {
    display: flex;
    max-width: 100%;
    width: 568px;
    height: auto;
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
}

.container-form-nome-default {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 552px;
    height: auto;
    /* height: 60px; */
    gap: 24px;
}

.container-default {
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container-default label {
    align-self: stretch;
    color: #515050;
    font-family: "Abhaya Libre";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

.container-input-default {
    display: flex;
    /* max-width: 100%; */
    width: 100%;
    height: 36px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background: #F9FAFB;
    font-family: var(--font-primary);
    transition: transform 0.3s ease;
}

.container-input-default:hover {
    transform: scale(1.05);
    border: 1px solid #D9308D;
}

.container-input-default:focus {
    border: 1px solid #D9308D;
    outline: none;
    box-shadow: none;
}

.container-input-default::placeholder {
    color: #9e9e9e;
    font-family: "Abhaya Libre";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

.container-btn-submit-form {
    display: flex;
    max-width: 100%;
    width: 552px;
    height: 37px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

/* padding: 0px 70px; */


.btn-submit-form {
    display: flex;
    max-width: 100%;
    width: 88px;
    height: 37px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #D9308D 50%, #73194B 100%);
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    border: none;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.btn-submit-form:hover {
    transform: scale(1.05);
}

/* Seção Modal Estoque */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: 1px solid black;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 70px;
    height: 1200px;
    max-width: 800px;
    height: auto;
    width: 100%;
    /* height: 736px; */
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
    box-shadow: 4px 4px 20px 20px #d9308d38;
    position: relative;
}

.close-btn {
    border: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(187, 187, 187);
}

.close-btn:hover {
    background: white;
    color: #D9308D;
    border: 1px solid #D9308D;
    font-size: 16px;
}