main {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-principal-admin-pedido {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 20px;
}
