<!-- Seção DashBoard -->
<app-container-form-modal-pedido [visible]="modalVisible" (close)="modalVisible = false"
  (pedidoCriado)="listarPedidos()">
</app-container-form-modal-pedido>
<div class="container-header-dashboard">
  <button class="btn-add-pedido-modal" type="button" (click)="openModal()">Adicionar Pedido</button>
  <div class="container-icon-btn-pesquisa">
    <span class="container-input-icon">
      <i class="material-icons" id="icon-pesquisa">search</i>
    </span>
    <input type="search" name="pesquisa-pedido" id="pesquisa-pedido" placeholder="Pesquisa" (change)="filtrarPedidos"
      [(ngModel)]="termoPesquisa">
  </div>
</div>




<div class="container-dashBoard-admin-pedido">
  <table class="container-table-pedido">
    <thead>
      <tr class=" container-title-check">
        <th>
          <!-- <input type="checkbox" name="" id=""> -->
        </th>
        <th class="title-info-pedido">Clientes</th>
        <th class="title-info-pedido">Nome do Cliente</th>
        <th class="title-info-pedido">Pedido</th>
        <th class="title-info-pedido">Data</th>
        <th class="title-info-pedido">Status</th>
        <th class="title-info-pedido">Editar</th>
      </tr>
    </thead>
    <tbody>
      @for (item of filtrarPedidos; track item.id) {
      <tr class="container-info-edit-delete">
        <td>
          <!-- <input type="checkbox" name="checkbox-pedidos" id="checkbox-pedidos"> -->
        </td>
        <td class="container-user">
          <!-- <img src="assets/imagemDoUsuario.svg" alt="avatar do usuário"> -->
          <i class="material-icons">account_circle</i>
          <div>
            <p>{{item.nome}}</p>
            <p class="email">{{item.email}}</p>
          </div>
        </td>
        <td class="container-dashboard-info">{{item.nome}}</td>
        <td class="container-dashboard-info">{{item.tipo_pedido}}</td>
        <td class="container-dashboard-info">{{item.created_at}}</td>
        <td class="container-dashboard-info">{{item.status}}</td>
        <td class="container-edit-delete-btn">
          <button class="icon-button"><i class="material-icons"
              (click)="excluirPedido(item.id)">delete_outline</i></button>
          <button class="icon-button"><i class="material-icons"
              (click)="verificarAtualizacaoPedidoForm(item.id)">edit</i></button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>


<!-- Seção Form PEDIDO -->
