<main class="pagina-branca">

  <div class="layout-container">

    
    <aside class="sidebar">
      <h1 class="sidebar-title">Admin</h1>

      <nav class="menu">
        <a routerLink="/pedidos" class="menu-item">Pedidos</a>
        <a routerLink="/agenda" class="menu-item">Agenda</a>
        <a routerLink="/usuarios" class="menu-item">Usuários</a>
      </nav>
    </aside>

    
    <section class="conteudo">

      <header class="topo">
        <h2 class="titulo-nome">Olá, LiLi</h2>
        <img src="assets/images/imagem-do-usuario.png" class="foto-admin" />
      </header>

      <div class="caixa-mensagem">
        <p>Olá, o que vamos fazer hoje ?</p>
      </div>
      <div class="cards-menu">
        <a routerLink="/pedidos" class="card-btn">Pedidos</a>
        <a routerLink="/agenda" class="card-btn">Agenda</a>
        <a routerLink="/usuarios" class="card-btn">Usuários</a>
      </div>

    </section>

  </div>

</main>
