<main>
  <section class="container-admin-login">
  </section>

  <section class="container-sessao-menu">

    <div class="header-admin-inicial">
      <div class="header-dados-admin">
        <h2 class="header-dados-admin-nome">Olá, adm!</h2>
        <img src="assets/images/imagem-do-usuario.png" alt="Foto do Admin" class="header-dados-admin-imagem" />
      </div>
    </div>

    <div class="header-admin-login">
      <h2 class="header-admin-login-titulo">Olá, o que vamos fazer hoje?</h2>
    </div>
    <div class="menu-opcao">
      <a routerLink="/pedidos" class="menu-opcao-link">Pedidos</a>
    </div>
    <div class="menu-opcao">
      <a routerLink="/agenda" class="menu-opcao-link">Agenda</a>
    </div>
    <div class="menu-opcao">
      <a routerLink="/usuarios" class="menu-opcao-link">Usuários</a>
    </div>


  </section>



</main>