/* CONTAINER GERAL DA PÁGINA */
.container-admin-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  background: #FAFAFA;
}

.header-admin-login {
  display: flex;
  width: 980px;
  height: 158px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-admin-login-titulo {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  background: linear-gradient(180deg, #000 0%, #9E9E9E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container-sessao-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1000px;
}

.menu-opcao {
  min-width: 220px;
  padding: 12px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background: var(--Primary-Color-Linear, linear-gradient(180deg, #D9308D 0%, #73194B 100%));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}


.menu-opcao-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 0;
}

.menu-opcao:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
  transition: 0.2s;
}

.header-admin-inicial {
  display: flex;
  height: 166px;
  padding: 50px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #FAFAFA;
}

.header-dados-admin {
  display: flex;
  padding: 0 25px;
  align-items: center;
  gap: 424px;
  align-self: stretch;
}

.header-dados-admin-nome {
  width: 400px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(180deg, #000 0%, #666 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-dados-admin-imagem {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


