.container-principal {
  display: flex;
  width: auto;
  padding: 7px 26px;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: normal;
}

.Container-titulo-cardapio {
  display: flex;
  width: 460px;
  height: 44px;
  justify-content: space-between;
  align-items: flex-start;
}

.titulo-cardapio {
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #41271f 0%, #a76450 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-tipos-cardapio {
  display: flex;
  width: auto;
  height: 600px;
  padding: 7px 26px;
  flex-direction: column;
  align-items: center;
  gap: 66px;
}

.container-titulo-section-cardapio {
  display: flex;
  width: 660px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.titulo-section-cardapio {
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(90deg, #41271f 0%, #a76450 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-cards-sabores {
  display: flex;
  height: 440px;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.container-tipos-sabores {
  display: flex;
  width: 290px;
  height: 440px;
  padding: 40px 54px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  border-top: 1px solid #d9308d;
  border-right: 1px solid #d9308d;
  border-bottom: 8px solid #d9308d;
  border-left: 1px solid #d9308d;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.titulo-card-sabores {
  display: flex;
  width: 182px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.container-button-sabores {
  display: flex;
  width: 224px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  /* border-bottom: #dd1425 2px solid; */
}

.button-card-sabores {
  display: flex;
  flex-direction: column;
  width: 152px;
  padding: 7px 18px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: var(--Background-color, #e5dbd0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.text-button-sabores {
  display: flex;
  width: 86px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  color: var(--Terciary-Color, #41271f);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.Container-button-icon-sabores {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 17px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Background-color, #e5dbd0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: url("../../../../../public/assets/add-shopping-cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* verso card */
.texto-verso-sabores {
  width: 182px;
  color: var(--White-Default, #fff);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.flip-card {
  width: 290px;
  height: 440px;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {

  .container-cards-sabores,
  .section-tipos-cardapio {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .container-tipos-sabores,
  .flip-card {
    width: 300px;
    height: auto;
    min-height: 380px;
  }
}
